name: "Maven Release"

on:
  workflow_dispatch

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Create .ssh directory
      run: mkdir $HOME/.ssh
    - name: Create known hosts file
      run: echo "${{ secrets.KNOWN_HOSTS }}" > $HOME/.ssh/known_hosts
    - name: Create private key
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > $HOME/.ssh/id_ed25519
        chmod 600 $HOME/.ssh/id_ed25519
    - name: Convert to UNIX format
      run: |
        dos2unix $HOME/.ssh/known_hosts
        dos2unix $HOME/.ssh/id_ed25519
    - uses: actions/checkout@v5
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Create maven settings
      uses: s4u/maven-settings-action@v4.0.0
      with:
        servers: '[{"id": "github.com", "username": "git", "privateKey": "${user.home}/.ssh/id_ed25519"}]'
    - name: Git Config
      run: |
        git config --global user.email "git@github.com"
        git config --global user.name "git"
    - name: Release with Maven
      run: mvn --no-transfer-progress -B -Dusername=git release:clean release:prepare release:perform
